# Arquivos e diretórios específicos do Nuxt.js
front/.nuxt
front/.nuxt/*
front/.output
front/dist
front/.env

# Dependências
front/node_modules/*
front/node_modules

# Arquivos de compilação
front/*.log
front/*.lock
front/*.log.*
front/*.log
front/npm-debug.log*

# Arquivos temporários
front/.DS_Store
front/Thumbs.db

# Cache de dependências npm
front/.npm



# backend
django/db.sqlite*
__pycache__
migrations
venv