{% extends 'ssl/base.html' %}
{% block conteudo %}
<form class="m-5" action="{% url 'insere_ssl' %}" method="post">
    {% csrf_token %}
    <div class="border rounded-3 container-sm p-5">
        <div >
            <label class="mb-2 fw-bold" for="">Domínio:</label>
            <input class="form-control me-2 mb-4" type="text" name="dominio" placeholder="ixc.exemplo.com.br" aria-label="Dominio">
            <label class="mb-2 fw-bold" for="">URL ssls:</label>
            <input class="form-control me-2 mb-4" type="text" name="url_ssls" placeholder="https://www.ssls.com/user/bundles/view/xxxxxx" aria-label="URL">
        </div>
        <div class="text-center">
            <button class="btn btn-secondary" type="submit">Salvar</button>
        </div>
    </div>
</form>
{% endblock %}
