{% extends 'base.html' %}
{% block conteudo %}
{% if cert_list %}
    <div class="container">
        <div class="navbar py-4">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Procurar">
                <!-- <button class="btn btn-secondary" type="submit">Procurar</button> -->
            </form>
        </div>
        <table class="table table-bordered">
            <tr class="text-center">
                <th>ID</th>
                <th>Dominio</th>
                <th>Validade</th>
                <th>Status</th>
                <th>Interação</th>
            </tr>
            {% for cert in cert_list %}
            <tr class="text-center">
                <td>{{ cert.id }}</td>
                <td>{{ cert.dominio }}</td>
                <td>{{ cert.validade | default:"-" }}</td>
                <td>{{ cert.status | default:"-" }}</td>
                <td>
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ações
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'editar_ssl' pk=cert.pk %}">Editar</a>
                            {% if cert.url_ssls %}
                            <a class="dropdown-item" target="_blank" href="{{ cert.url_ssls }}">Acessar ssls</a>
                            {% endif %}
                            <a class="dropdown-item" href="#">Detalhes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'excluir_ssl' pk=cert.pk %}">Deletar</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="container p-4">
        <p>Não há certs cadastrados!</p>
    </div>
{% endif %}

{% endblock %}